<footer class="w-full py-6 bg-white border-t border-slate-200 text-center text-base text-slate-600 relative z-10">
	<div class="max-w-6xl mx-auto px-4 flex flex-col sm:flex-row justify-between items-center space-y-2 sm:space-y-0">
		<p>&copy; 2025 Wisnu Yumna Yudhanta. All rights reserved.</p>
		<div class="flex items-center space-x-1 text-slate-400">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-slate-400" fill="none" viewBox="0 0 24 24"
				stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
			</svg>
			<span>{{ visitorCount() }} visits</span>
		</div>
	</div>
</footer>
