<header
	[ngClass]="{
    'bg-web3blue/90 backdrop-blur-md shadow-md py-4': isScrolled(),
    'bg-transparent py-6': !isScrolled()
  }"
	class="w-full fixed top-0 left-0 z-50 text-web3white transition-all duration-300 ease-in-out px-8">
	<nav class="space-x-6 text-sm md:text-base flex justify-end items-center">
		<a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{ exact: true }"
			class="hover:text-accent transition">
			Home
		</a>
		<a routerLink="/about" routerLinkActive="text-accent" class="hover:text-accent transition">
			About
		</a>
		<a routerLink="/projects" routerLinkActive="text-accent" class="hover:text-accent transition">
			Projects
		</a>
		<a routerLink="/certificates" routerLinkActive="text-accent" class="hover:text-accent transition">
			Certificates
		</a>
	</nav>
</header>
