<header class="w-full bg-web3blue text-web3white shadow-md px-8 py-5 flex justify-end items-center">
	<!-- <a routerLink="/" class="text-xl font-bold text-accent">Wisnu.dev</a> -->
	<nav class="space-x-6 text-sm md:text-base ">
		<a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-accent">
			Home
		</a>
		<a routerLink="/about" routerLinkActive="text-accent" class="hover:text-accent">
			About
		</a>
		<a routerLink="/projects" routerLinkActive="text-accent" class="hover:text-accent">
			Projects
		</a>
		<a routerLink="/certificates" routerLinkActive="text-accent" class="hover:text-accent">
			Certificates
		</a>
	</nav>
</header>
